<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <add key="servername" value="readLogDataToDB"></add>
    <add key="enable" value="true"/>
    <add key="elapsed" value="6000"/>
    <add key="connectionString" value="server=(local);database=TTTT;integrated security=false;persist security info=True;UID=sa;PWD=qinxianbo123" />
  </appSettings>
</configuration>